{% extends "main/main.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<link rel="stylesheet" href="{% static 'main/css/dashboard.css' %}">
{% endblock %}
{% block content %}
<div class="text-center">
    <h2 class="display-4" style="color: white; font-weight: 700;">Dynamic dashboard</h2>
</div>
<div class="iframe my-5" style="height: 80vh;">
    <iframe src="https://corona.vicd.be/" frameBorder="0" style="width: 100vw; height: 100%; background-color: white;"></iframe>
</div>

<section class="explenation mb-5">
    <div class="container">
        <div class="text-left">
            <h4 class="display-4" style="color: white; font-weight: 700;">{{intro.name}}</h4>
            {{intro.text|linebreaks}}
        </div>
        {% for topic in topics %}
            <div class="text-left mt-5">
                <h4 class="display-6" style="color: white; font-weight: 700;">{{topic.name}}</h4>
                {{topic.text|linebreaks}}
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}