{% extends "main/main.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}
{% block content %}
<section class="header">
    <div class="text-center">
        <h2 class="display-4" style="color: white; font-weight: 700;">Corona & Twitter</h2>
        <div class="head-text text-left container mt-5 px-5">
            <p>This website is made as a deliverable for the Big Data Science Corona Virus project. The course that organised this project is Big Data Science (E018210) at the University of Ghent, Belgium</p>
            <p>The subject of this project was to use twitter data to come up with useful insights about the Corona Virus. Our approach to this project is that we wanted to analyse the impact of the Corona Virus on the sentiment of Twitter users in Flanders. To do this, we gathered more than 9 million tweets, from more than 10 thousand Flemish users. Afterwards we trained a modified BERT model to interpret the emotions in Flemish tweets. Please see the "Behind the curtains" page for more information </p>
            <p><a class="font-weight-bold" href="{% url 'insights' %}" style="color: white; font-weight: bold;">The insights page</a> shows some clear graphs about key findings we found out in our data.</p>
            <p><a href="{% url 'dashboard' %}" style="color: white; font-weight: bold;">The dynamic dashboard page</a> is where the fun really starts. Here you can go ahead and play with the data yourself. In the explanation under the dashboard, a clear description of the functionalities is given.</p>
            <p>Due to infrastructure problems, not all data could be gathered in time. To read more about this and other artefacts, we refer you to the disclaimer section on the <a href="{% url 'behindTheCurtains' %}" style="color: white; font-weight: bold;">behind the curtain page.</a></p>
        </div>
        <a class="btn btn-white mt-5" href="{% url 'insights'%}">To the insights!</a>
    </div>
</section>
<section class="team my-5">
    <div class="container">
        <div class="text-left">
            <h4 class="display-4" style="color: white; font-weight: 700;">The Team</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="container card-content">
                        <div class="row">
                            <div class="img-container my-3">
                                <img src="{% static 'vic.jpg' %}" class="cardImage">
                            </div>
                        </div>
                        <div class="text-content container">

                            <div class="row">
                                <h4 class="display-6 text-left" style="color: #1DA1F2; font-weight: 700;">Vic Degraeve</h4>
                            </div>
                            <div class="row">
                                <p>Vic is a Data Science enthusiast and master student Computer Science Engineering at Ghent University. He's obsessed with AI and has recently taken an intrest in explainability and interpretability, to bring the power of data to the masses.</p>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 colContact mb-1">
                                    <i class="fas fa-envelope"></i>&emsp;&emsp;<span>vic.degraeve@ugent.be</span>
                                </div>
                                <div class="col-12 colContact mb-1">
                                    <i class="fab fa-linkedin"></i>&emsp;<a href="https://www.linkedin.com/in/vic-degraeve/" target="_blank">Linkedin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="container card-content">
                        <div class="row">
                            <div class="img-container my-3">
                                <img src="{% static 'armand.JPG' %}" class="cardImage">
                            </div>
                        </div>
                        <div class="text-content container">

                            <div class="row">
                                <h4 class="display-6 text-left" style="color: #1DA1F2; font-weight: 700;">Armand Naessens</h4>
                            </div>
                            <div class="row">
                                <p>Armand is currently finishing his 1st year in the master Computer Science Engineering at Ghent University. He has a passion for data and this project showed him once again the power of data in real life analysis situations.</p>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 colContact mb-1">
                                    <i class="fas fa-envelope"></i>&emsp;&emsp;<span>armand.naessens@ugent.be</span>
                                </div>
                                <div class="col-12 colContact mb-1">
                                    <i class="fab fa-linkedin"></i>&emsp;&emsp;<a href="https://www.linkedin.com/in/anaessens/" target="_blank">Linkedin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}