{% extends "main/main.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<link rel="stylesheet" href="{% static 'main/css/dashboard.css' %}">
{% endblock %}
{% block content %}
<div class="text-center">
    <h2 class="display-4" style="color: white; font-weight: 700;">Insights</h2>
</div>
<div class="chartContainer container" >
    <canvas id="canvas"></canvas>
  </div>

<p>{{test}}</p>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var barChartData = {
        labels: {{excitementLabels|safe}},
        datasets: [{
            type: 'line',
            label: 'Hospitalizations per 100k inhabitants',
            borderWidth: 4,
            fill: false,
            backgroundColor: '#ffce56',
            borderColor: '#ffce56',
            yAxisID: 'y-axis-2',
            data: {{hospitalizations100k|safe}}
        }, {
            type: 'bar',
            label: 'Rather indifferent',
            backgroundColor: '#ff6384',
            yAxisID: 'y-axis-1',
            data: {{excitementIndifferent|safe}}
        }, {
            type: 'bar',
            label: 'Strong optimists',
            backgroundColor: '#36a2eb',
            yAxisID: 'y-axis-1',
            data: {{excitementOptimists|safe}}
        },{
            type: 'bar',
            label: 'Strong pessimists',
            backgroundColor: '#cc65fe',
            yAxisID: 'y-axis-1',
            data: {{excitementPessimists|safe}}
        }]

    };
    window.onload = function() {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                title: {
                    display: true,
                    text: 'Chart.js Bar Chart - Stacked'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
							type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
							display: true,
                            stacked: true,
							position: 'left',
							id: 'y-axis-1',
						}, {
							type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
							display: true,
							position: 'right',
							id: 'y-axis-2',
							gridLines: {
								drawOnChartArea: false
							},
                            ticks: {
							    min: 0,
							    
						    }
						}]
                }
            }
        });
    };
</script>
{% endblock %}